{% extends "base.html" %}
{% block content %}
<h1>Ristinolla</h1>

<p>
    <button class="btn btn-danger">Poista(admini painike!)</button>
    <button class="btn btn-default">Muokkaa</button>
    <button class="btn btn-success">Lisää Strategia</button>
</p>

<ul>
    <li><strong>Julkaisupäivä:</strong> 2018</li>
    <li><strong>Julkaisija:</strong> Co Pekka</li>
</ul>

<p>
    Informaatio kenttä pelistä
</p>

<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Strategian nimi</th>
        <th>Käyttäjän nimi</th>
        <th>Julkaistu</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td><a href="#">Ristikulmastakulmaan</a></td>
        <td>Pekka</td>
        <td>2017</td>
    </tr>
    </tbody>
</table>
{% endblock %}