{% extends "base.html" %}
{% block content %}
<h1>The Elder Scrolls V: Skyrim</h1>
<!-- Painikkeet tähän -->
<p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
</p>
<!-- Tiedot tulee listana tähän -->
<ul>
    <li><strong>Julkaisupäivä:</strong> 11.11.2011</li>
    <li><strong>Julkaisija:</strong> Bethesda Softworks</li>
    <li><strong>Lista peliin liittyvistä strategioista tähän</strong>
</ul>
<!-- Kuvaus tulee tähän -->
<p>
    Informaatio kenttä pelistä
</p>
{% endblock %}