{% extends "base.html" %}
{% block content %}
<h1>{{player.username}}</h1>

<h3>
    
    
    
    Julkaistut strategiat
</h3>

<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Peli</th>
        <th>Strategia</th>
    </tr>
    </thead>

    <tbody>
        {% for strategy in strategies %}
      
    <tr>
        <td><a href="{{base_path}}/game/{{strategy.game_id}}">{{strategy.game_name}}</a></td>
        <td><a href="{{base_path}}/strategy/{{strategy.id}}">{{strategy.name}}</a></td>
        
    </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}