{% extends "base.html" %}
{% block content %}
<h1>Strategiat</h1>

  <p>
    <a href="{{base_path}}/strategy/new" class="btn btn-success">Lisää strategia</a>
  </p>


<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Nimi</th>
        <th>Peli</th>
        <th>Julkaisija</th>
    </tr>
    </thead>

    <tbody>
      {% for strategy in strategies %}
      
    <tr>
        <td><a href="{{base_path}}/strategy/{{strategy.id}}">{{strategy.name}}</a></td>
        <td><a href="{{base_path}}/game/{{strategy.game_id}}">{{strategy.game_name}}</a></td>
        <td><a href="{{base_path}}/user/{{strategy.player_id}}">{{strategy.player_name}}</a></td>
    </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}