{% extends "base.html" %}
{% block content %}
  <h1>Lautapelit</h1>

  <p>
    <a href="{{base_path}}/game/new" class="btn btn-success">Lisää peli</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Julkaisuvuosi</th>
        <th>Julkaisija</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for game in games %}

      <tr>
        <td><a href="{{base_path}}/game/{{game.id}}">{{game.name}}</a></td>
        <td>{{game.published}}</td>
        <td>{{game.publisher}}</td>
        <th><a class="btn btn-default btn-sm" href="{{base_path}}/game/{{game.id}}/edit">Muokkaa(TBD-EI TOIMI)</a></th>
      </tr>
            {% endfor %}
    </tbody>
  </table>
{% endblock %}