{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

<h1>{{game.name}}</h1>

<p>
    {{forms.destroy_button("#{base_path}/game/#{game.id}/destroy")}}
    <th><a class="btn btn-default btn-sm" href="{{base_path}}/game/{{game.id}}/edit">Muokkaa</a></th>
    <button class="btn btn-success">Lisää Strategia ToBeDone (miten tietää id:n?)</button>
</p>

<ul>
    <li><strong>Julkaisupäivä:</strong> {{game.published}}</li>
    <li><strong>Julkaisija:</strong> {{game.publisher}}</li>
</ul>

<p>
    {{game.description}}
</p>

<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Strategian nimi</th>
        <th>Käyttäjän nimi</th>
        <th>Julkaistu</th>
    </tr>
    </thead>

    <tbody>
      {% for strategy in strategies %}        
    <tr>
        <td><a href="{{base_path}}/strategy/{{strategy.id}}">{{strategy.name}}</a></td>
        <td><a href="{{base_path}}/user/{{strategy.player_id}}">strategy.player_id</a></td>
        <td>{{strategy.published}}</td>
    </tr>
            {% endfor %}    
    </tbody>
</table>
{% endblock %}