{% extends "base.html" %}

{% block content %}
  <div class="page-header">
    <h1>Tervetuloa nörttien taktikointi koloon!</h1>
  </div>

<p> Lautapeli on yhden tai useamman pelaajan peli, jota pelataan tyypillisesti pelilaudan ja pelinappuloiden tai muiden pelimerkkien avulla. Useimmiten lautapelejä kuvaa se, että pelimerkkien sijainti pelilaudalla (absoluuttisesti tai suhteessa toisiinsa) on pelin kannalta tärkeässä asemassa. Osassa uusia lautapelejä on satunnaisesti arvottu pelilauta, ja joissakin pelilauta itsessään voi muuttua pelin aikana.</p>
{% endblock %}
